<h2 *ngIf="products; else noProduct">{{title}}</h2>
<ng-template #noProduct>
    <div class="alert alert-danger" role="alert">    Don't have product this category</div>
</ng-template>
<div class="row">
    <div *ngFor="let product of products" class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="product.imageUrl" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description }}</p>
          <h5 class="card-text">{{product.price | currency:'USD':true:'1.0-2'}}</h5>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
</div>
